/**** ===== Global Layout ==== ****/

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}


/**** ===== Section Styles ==== ****/



.wrapper {
    max-width: 768px;
    margin: 0 auto;
}


.banner h3 {
    background-color: #2d3945;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    padding: .5em;
    font-weight: bold
}

.sign_up_intro_paragraph {
    text-align: center;
}

.sign_up_intro_paragraph h3 {
    font-weight: bold;
}

.sign_up_intro_paragraph p {
    padding-right: .8em;
    padding-left: .8em;
    padding-bottom: .5em;
}

.large_horizontal_line {
    border: 3px solid #2D3945;
    width: 90%;
    margin-top: 10px;
}

.small_horizontal_line {
    border-top: 3px solid #2D3945;
    width: 90%;
    margin-bottom: 10px;
}

legend {
    color: #2d3945;
    margin-bottom: 10px;
    font-weight: bold;
}



fieldset {
    border: none;
    padding: 0px;
    margin-left: .8em;
}

label {
    color: #97a2ac;
    display: block;
    margin-bottom: .5em;
}

#full_name_label {
    margin-bottom: 1.3em;
}

input {
    background-color: #eff0f1;
    padding: 1em;
    border: none;
    width: 96%;
    display: block;
    margin-bottom: 1em;
}



input:hover {
    border-color: #2D3945;
}

input:focus {
    background-color: gainsboro;
}

select:focus {
    background-color: gainsboro;
}


textarea:focus {
    background-color: blue;
}

::placeholder {
    text-align: right;
}

select {
    background-color: #eff0f1;
    padding: 1em;
    width: 96%;
    display: block;
    border: none;
}

.zip_label {
    margin-top: 1em;
}

.zip_input {

    width: 50%;
}

.thin_horizontal_line {
    border: 2px solid #2D3945;
    width: 90%;
    margin-top: 2em;
}

.news_letter_heading h3 {
    margin-left: .8em;
}

#select_newsletter_heading {
    color:#97a2ac
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.checkbox_label {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: .5em;
}


#news_letter_format_heading {
    color: #97a2ac
}


input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 1em;
}



.radio_label {
    display: inline-block;
    margin-bottom: .5em;
}

textarea {
    display: block;
    padding: 3em;
    background-color: #eff0f1;
    border: none;
}

button[type="submit"] {
    padding: 1em;
    background-color: #4cbbb4;
    color: white;
    border: none;
    width: 95.7%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copy_right_text {
    text-align: center;
    font-size: small;
    font-style: italic;
}


/***** ====== MEDIA QUERY ====== *******/


@media (min-width: 768px) {

select:focus {
    background-color: gainsboro;
}
    
    
 textarea:focus {
    background-color: blue;
}

input:focus {
    background-color: gainsboro;
}


.banner {
    width: 100%;
}


.large_horizontal_line {
    border: solid 5px #2D3945;
    width: 83%;
}

.small_horizontal_line {
    width: 83%;
}


fieldset {
    margin-left: 7em;
    margin-right: 7em;
}



.contact_flex_box_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}


.contact_flex_box_container > input,
.contact_flex_box_container > select {
    margin-bottom: 1em;
}

label {
    width: 25%;
    display: inline-block;
}

input {
    width: 75%;
    display: inline-block;
}

input:hover {
    border-color: #2D3945;
}


::placeholder {
    text-align: right;
}


select {
    width: 75%;
}

.zip_label {
    width: 25%
}

.zip_input {
    width: 25%; 
    
}


.thin_horizontal_line {
    border: 5px solid #2D3945;
    width: 83%;
}


#news_letter_banner_text {
    margin-top: 3em;
    margin-left: auto;
  
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.checkbox_label {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: .5em;
}


#news_letter_format_heading {
    color: #97a2ac
}


input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 1em;
}



.radio_label {
    display: inline-block;
    margin-bottom: .5em;
}

textarea {
    display: block;
    padding: 3em;
    width: 100%;
    background-color: #eff0f1;
    border: none;
}

button[type="submit"] {
    padding: 1em;
    background-color: #4cbbb4;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


}
