/**** ===== Global Layout ==== ****/

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}


/**** ===== Section Styles ==== ****/

@media (min-width: 320px) {

body {
    max-width: 1024px;
}

.banner h3 {
    background-color: #2d3945;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    padding: .5em;
    font-display: inline-block;
    font-weight: bold
}

.sign_up_intro_paragraph {
    text-align: center;
}

.sign_up_intro_paragraph h3 {
    font-weight: bold;
}

.sign_up_intro_paragraph p {
    padding-right: .8em;
    padding-left: .8em;
    padding-bottom: .5em;
}

.large_horizontal_line {
    border: 3px solid #2D3945;
    width: 90%;
    margin-top: 10px;
}

.small_horizontal_line {
    border-top: 3px solid #2D3945;
    width: 90%;
    margin-bottom: 10px;
}

legend {
    color: #2d3945;
    margin-bottom: 10px;
    font-weight: bold;
}



fieldset {
    border: none;
    padding: 0px;
    margin-left: .8em;
}

label {
    color: #97a2ac;
    padding-bottom: .2em;
    display: block;
}


input {
    background-color: #eff0f1;
    padding: 1em;
    border: none;
    width: 96%;
    display: block;
}

.zip {
    margin-top: 1em;
}
.thin_horizontal_line {
    border: 2px solid #2D3945;
    width: 90%;
    margin-top: 2em;
}

.news_letter_heading h3 {
    margin-left: .8em;
}

#select_newsletter_heading {
    color:#97a2ac
}

input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.checkbox_label {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: .5em;
}


#news_letter_format_heading {
    color: #97a2ac
}


input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 1em;
}



.radio_label {
    display: inline-block;
    margin-bottom: .5em;
}

input[type="textarea"] {
    display: block;
    padding: 3em;
}

button[type="submit"] {
    padding: 1em;
    background-color: #4cbbb4;
    color: white;
    border: none;
    width: 95.7%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copy_right_text {
    text-align: center;
    font-size: small;
    font-style: italic;
}

}

/***** ====== MEDIA QUERY ====== *******/





.large_horizontal_line {
    border: solid 5px #2D3945;
    width: 92.5%;

}

.small_horizontal_line {
    width: 93%;
}

fieldset {
    margin-left: 2em;
}


.thin_horizontal_line {
    border: 4px solid #2D3945;
    width: 92.5%;
}

#news_letter_banner_text {
    margin-top: 3em;
    margin-left: 2em;
}
